#contacts-container,
#contacts-show-container,
#contacts-new-container {
  margin-top: 50px;
  label, .help-block {
    font-size: 0.75em;
  }
}

#contacts-show-button-container {
  margin-top: 50px;
  text-align: center;
}
