<div class="container">
  <table class="table table-stripe">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Website</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @account.Id %></td>
        <td><%= @account.Name %></td>
        <td><%= @account.Website %></td>
        <td><%= @account.Phone %></td>
      </tr>
    </tbody>
  </table>
</div>
